// variable names start with dollar sign
$content-width: 80%;

// Nesting
$color : (
  primary: blue,
  text: white
);

body {
  background-color: map-get($color, primary);
}

.main {
  width: $content-width;
  margin: 0 auto;
  color: map-get($color, text);

  // interpolation #{&}
  #{&}__paragraph {
    text-align: justify;

    &:hover {
      font-style: italic;
    }
  }
}