@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten(color(primary), 100);
  }
}

@mixin mobile {
  @media (max-width: $mobileWidth) {
    @content;
  }
}
