@import './resets';
@import './variables';
@import './functions';
@import './mixins';

body {
  background-color: color(primary);
}

.main {
  width: $content-width;
  margin: 0 auto;
  padding-top: $topPadding;
  color: color(text);
  @include flexCenter;
  
  // interpolation #{&}
  #{&}__paragraph {  
    padding: 5px;
    border: 1px solid red;
    text-align: justify;

    &:hover {
      font-style: italic;
    }
  }
}