@import './resets';
@import './variables';
@import './functions';
@import './mixins';
@import './operations'

body {
  background-color: color(primary);
}

.main {
  width: $content-width;
  margin: 0 auto;
  padding-top: $topPadding;
  color: color(text);
  @include flexCenter (row);
  
  // interpolation #{&}
  #{&}__paragraph1 {  
    padding: 5px;
    border: 1px solid red;
    text-align: justify;

    &:hover {
      font-style: italic;
    }
  }

  #{&}__paragraph2 {
    @extend .main__paragraph1;

    &:hover {
      background-color: color(accent);
      color: white;
    }
  }

  @include mobile {
    @include flexCenter(column);
  }
}

.light {
  @include theme($light-theme: true);
}